body{
    margin: 0px;
    padding: 0;
    /* background-color: rgb(237, 253, 234); */
    /* background-color:rgb(210, 245, 252); */
}
/* #countLabel
{
    display: block;
    text-align: center;
    font-size: 50px;
}

.numberGuess{
    background-color: rgb(237, 253, 234);
    text-align: center;
    margin-top: 20%;
    padding: 1px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    /* background-color: red; */
    /* color: rgb(75, 2, 32);
}
#guessField{
    background-color: rgb(180, 219, 173);
    border-radius: 50px;
    border: 0;
    padding: 5px;
    width: 50px;
    text-align: center;
}*/
/* #submitButton{
    margin-top:10px;
    margin-bottom: 20px;
    width: 30%;
    height: 30px;
    border: 0px;
    border-radius: 8px;
    background-color: rgb(245, 205, 217);
    cursor: pointer;
} 

.container{
    text-align: justify;
    margin: auto;
    width: 30%;
    padding: 10px;
    /* border: 2px solid green; 
/*
.temprature{
    text-align:center;
    margin-top: 20%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#textBox{
    background-color: rgb(153, 224, 252);
    border-radius: 50px;
    border: 0;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    text-align: center;
}
#tempLabel{
    background-color: rgb(141, 245, 214);
    border-radius: 8px;
} */